<section class="block container block-domain">
    <header class="block__header">
        <h2>Lorem ipsum dolor sit amet.</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae, asperiores.</p>
    </header>
    <div class="input-group">
        <input type="text" class="input" placeholder="Search here ...">
        <button class="btn btn--accent">
            <svg class="icon icon--white">
                <use xlink:href='images/sprite.svg#search'></use>
            </svg>
            Search
        </button>
    </div>
    <ul class="list block-domain__prices">
        <li><span class="badge badge--secondary">. item 1</span></li>
        <li>. item 2</li>
        <li>. item 3</li>
        <li>. item 4</li>
        <li>. item 5</li>
        <li>. item 6</li>
    </ul>
</section>