<section class="block cona">
    <header class="block__header">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt perferendis qui nemo tempore esse
            praesentium tempora provident debitis ex neque!
        </p>
    </header>
</section>
<section class="block block--dark block--skewed-left">
    <div class="container">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt perferendis qui nemo tempore esse
            praesentium tempora provident debitis ex neque!
        </p>
    </div>
</section>