<nav class="nav collapsible cont">
    <span class="logo">
        <a href="/"><img src="images/Logo.png" alt=""></a>
    </span>
    <svg class="icon icon--white nav__toggler">
        <use xlink:href='images/sprite.svg#menu'></use>
    </svg>
    <ul class="list nav__list collapsible__content">
        <li class="nav__item"><a href="#">itme 1</a></li>
        <li class="nav__item"><a href="#">itme 2</a></li>
        <li class="nav__item"><a href="#">itme 3</a></li>
        <li class="nav__item"><a href="#">itme 4</a></li>
    </ul>
</nav>